<style>
  .navbar2 {margin: auto}
  .navbar2 a {text-align: center; color: #777;}
</style>

<footer class="site-footer">
  <div class="wrapper">
    <p>See more:</p>
     <a href="{{ site.baseurl }}/{{ page.collection }}/data-management" class="active">
       Data Management
     </a>
     <a href="{{ site.baseurl }}/{{ page.collection }}/data-quality" class="active">
       Data Quality
     </a>
     <a href="{{ site.baseurl }}/{{ page.collection }}/geospatial-resources" class="active">
       Geospatial Resources
     </a>
     <a href="{{ site.baseurl }}/{{ page.collection }}/policies" class="active">
       Policies
     </a>
     <a href="{{ site.baseurl }}/{{ page.collection }}/standards" class="active">
       Standards
     </a>
     <a href="{{ site.baseurl }}/{{ page.collection }}/workflows" class="active">
       Workflows
     </a>
</div>
</footer>
