<style>
  /* The side navigation menu */
  .sidebar {
   margin-left: -250px;
   padding: 4em 0 0 0;
   width: 200px;
   position: fixed;
   height: 100%;
   overflow: auto;
  }

  /* Sidebar links */
  .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
  }

  /* Active/current link */
  .sidebar a.active {
   background-color: #1756a9;
   color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
   background-color: #749acc;
   color: white;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
   .sidebar {
     width: 100%;
     height: auto;
     position: relative;
   }
   .sidebar a {float: left;}
   div.content {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
   .sidebar a {
     text-align: center;
     float: none;
   }
  }
</style>

<div class = "sidebar" >
  {% for item in site.georeferencing %}
    <a href = "{{ item.url | relative_url }}"{% if item.url == page.url %} class="active"{% endif %}>
      {{ item.title | replace: "Georeferencing", ""}}
    </a>
  {% endfor %}
</div>
